$font-base: "Poppins", sans-serif;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-big: 1.8rem;
$font-size-h1: 2.5rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2rem;
$font-size-h4: 3.8rem;

$primary-color: #000000; // black
$secondary-color: #f5f5f5; // gray
$tertiary-color: #cb8e04; // orange
