$font-base: "Work Sans", sans-serif;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-big: 1.8rem;
$font-size-h1: 2.5rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2rem;
$font-size-h4: 3.8rem;

$primary-color: #000000; // black
$secondary-color: #15223f; // blue
$tertiary-color: #75b8a6; // limegreen
$quaternary-color: #F5F5F5; // gray
