@use "./../abstracts" as var;

footer {
  background-color: white;
}

.contact-info {
  padding-block: 9rem;
  background: var.$secondary-color;
}


.contact-info .container-narrow {
  display: flex;
  justify-content: center;

  @include var.breakpoint(735px) {
    flex-direction: column;
    align-items: center;
  }
}

.contact-info h4 {
  @include var.font-modifier(var.$font-base, var.$font-size-h4, normal, 600);
  color: white;

  @include var.breakpoint(1397px) {
    @include var.font-modifier(var.$font-base, var.$font-size-h2, normal, 600);
  }

  @include var.breakpoint(1176px) {
    @include var.font-modifier(var.$font-base, 30px, normal, 600);
  }
  @include var.breakpoint(1104px) {
    @include var.font-modifier(var.$font-base, var.$font-size-h3, normal, 600);
  }
  @include var.breakpoint(735px) {
    @include var.font-modifier(var.$font-base, var.$font-size-h4, normal, 600);
    text-align: center;
  }

  &:nth-of-type(even) {
    color: var.$tertiary-color;
    margin-inline: 0.3em;
  }
}

.map-container {
  width: 100%;
  max-width: 100vw;
}

#map {
  height: 375px;
  width: 100%;
}

.footer-menu {
  margin-top: 10.3rem;
}

.footer-menu .container-narrow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5rem;

  @include var.breakpoint(1067px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h4 {
    padding-bottom: 1.45rem;
    border-bottom: 1px solid var.$tertiary-color;
  }

  .socials-container {
    margin-top: 3.85rem;
    display: flex;
    align-items: center;

    @include var.breakpoint(1067px) {
      justify-content: center;
    }
    a:not(:last-of-type) {
      margin-right: 3.2rem;
    }
    img {
      max-width: 5.8rem;
      max-height: 5.8rem;
    }
  }
}

#footer-navigation {
  margin-top: 3.8rem;

  @include var.breakpoint(1067px) {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  a {
    text-decoration: none;
    color: var.$primary-color;
    @include var.font-modifier(
      var.$font-base,
      var.$font-size-base,
      normal,
      300
    );
    line-height: 1.8;

    &:hover {
      color: var.$tertiary-color;
    }
  }
}

address {
  margin-top: 3.8rem;
  @include var.breakpoint(1067px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong,
    a,
    p {
      text-align: center;
    }
  }
  strong {
    display: block;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }

    &:nth-of-type(2) {
      margin-top: 2.5rem;
    }
  }

  a {
    color: var.$primary-color;
    text-decoration: none;
  }
}

.legal-mention {
  background: var.$primary-color;
  padding-block: 2.8rem;
  margin-top: 7.5rem;
}
#mention-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;

  @include var.breakpoint(553px) {
    flex-direction: column;
  }

  .menu-item {
    &:not(:last-of-type)::after {
      content: "-";
      color: white;
      margin-inline: 0.5rem;
    }

    @include var.breakpoint(553px) {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:not(:last-of-type)::after {
        margin-inline: 0;
        margin-block: 0.5rem;
      }
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    color: white;
    @include var.font-modifier(
      var.$font-base,
      var.$font-size-base,
      normal,
      300
    );
  }
}
