@use "./../abstracts" as var;

footer {
  background-color: white;
  padding-block: 9rem;
}

.contact-info .container-narrow {
  display: flex;
  justify-content: center;
}

.contact-info h4 {
  @include var.font-modifier(var.$font-base, var.$font-size-h4, normal, 600);

  &:nth-of-type(even) {
    color: var.$tertiary-color;
    margin-inline: 0.3em;
  }
}

.map-container {
  width: 100%;
  max-width: 1600px;
  margin-top: 3em;
}

#map {
  height: 375px;
  width: 100%;
}
