@use "./../abstracts" as var;

.menu-btn {
  display: none;
}

@include var.breakpoint(1418px) {
  .header__menu__container {
    width: 100%;
  }

  .header__menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background-color: var.$primary-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: var.$primary-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-13px);
  }
  .menu-btn__burger::after {
    transform: translateY(13px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  #menu-main-menu {
    position: absolute;
    top: -180%;
    right: 0;
    left: 0;
    background-color: white;
    padding-inline: 2.2rem;
    padding-block: 2em;
    z-index: 99;
    justify-content: center;

    &.show {
      top: 100%;
    }
  }
}

@include var.breakpoint(980px) {
  #menu-main-menu {
    flex-direction: column;
    align-items: center;

    top: -880%;

    .menu-item {
      &:first-of-type {
        margin-right: 0;
      }
      &:not(:first-of-type) {
        padding-inline: 0;
        border: 0px;
      }
    }

    .menu-item:not(:last-of-type) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}
