@use "./../abstracts" as var;

.container {
  max-width: 95%;
  margin-inline: auto;

  @include var.breakpoint(1506px) {
    max-width: 95%;
  }
}

.container-narrow {
  max-width: 75%;
  margin-inline: auto;
}
