@use "../abstracts" as var;

.contact-page {
  text-align: center;

  .hero-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .parallax-background {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  h1 {
    margin-top: 4.5rem;
  }
}

.adresse__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  grid-column: 1;
  margin-top: 10.8rem;

  h1 {
    width: 75%;
    text-align: center;
    margin-top: 0;
  }
  h1, .title {
    color: var.$secondary-color;
  }
}

#contact {
  grid-column: 2;
  grid-row: 2;
  .container-narrow {
    position: relative;
    margin-top: 10.8rem;
    background: var.$quaternary-color;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include var.breakpoint(950px) {
      column-gap: 2.5rem;
    }

    @include var.breakpoint(750px) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }

    label,
    input,
    textarea,
    select {
      width: 100%;
      color: black;
      @include var.font-modifier(
        var.$font-base,
        var.$font-size-base,
        normal,
        300
      );
      padding: 1.6rem;
    }
  }

  h3 {
    grid-row: 1;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;

    @include var.breakpoint(750px) {
      grid-column: 1;
    }
  }

  .message {
    grid-row: 5;
    grid-column: 1 / 3;

    @include var.breakpoint(750px) {
      grid-column: 1;
      grid-row: unset;
    }
  }

  .send {
    grid-row: 6;
    grid-column: 1 / 3;
    width: fit-content;
    width: -moz-fit-content;
    justify-self: flex-end;
    align-self: flex-end;

    @include var.breakpoint(750px) {
      grid-row: unset;
      grid-column: 1;
    }

    input {
      color: black;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: underline;
      border: 0px transparent;
      background: transparent;
    }
  }

  .thematique {
    justify-self: flex-start;
    position: relative;

    @include var.breakpoint(750px) {
      width: 100%;
    }
  }
}

strong.title {
  color: var.$tertiary-color;
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.adresse__contact .container-narrow {
  display: flex;
  margin-top: 8.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include var.breakpoint(906px) {
    flex-direction: column;
  }

  @include var.breakpoint(495px) {
    max-width: 100%;
  }

  address {
    padding-block: 4.4rem;
    padding-inline: 8.8rem;
    margin-right: 4.4rem;

    @include var.breakpoint(906px) {
      margin-right: 0;
      margin-bottom: 4.4rem;
    }

    @include var.breakpoint(495px) {
      padding-inline: 0;
      width: 100%;
    }
  }

  ul {
    text-align: center;

    li:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }
}

.horaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid var.$secondary-color;
  background-color: white;
  position: absolute;
  top: 42%;
  right: 3%;
  pointer-events: none;

  // @include var.breakpoint(750px) {
  //   right: 3%;
  // }

  // @include var.breakpoint(661px) {
  //   right: 4%;
  // }
  // @include var.breakpoint(471px) {
  //   right: 4.5%;
  // }
}
