@use "../abstracts" as var;

.contact-page {
  text-align: center;

  h1 {
    margin-top: 4.5rem;
  }
}

#contact {
  .container-narrow {
    position: relative;
    margin-top: 10.8rem;

    &::before {
      content: "";
      position: absolute;
      top: -5%;
      left: -5%;
      width: 12.05rem;
      height: 11.75rem;
      border-left: 18px solid var.$tertiary-color;
      border-top: 18px solid var.$tertiary-color;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -5%;
      right: -5%;
      width: 12.05rem;
      height: 11.75rem;
      border-right: 18px solid var.$tertiary-color;
      border-bottom: 18px solid var.$tertiary-color;
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 2.1rem;
    align-items: center;
    justify-content: center;

    @include var.breakpoint(950px) {
      column-gap: 2.5rem;
    }

    @include var.breakpoint(750px) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }

    label,
    input,
    textarea,
    select {
      width: 100%;
      color: black;
      @include var.font-modifier(
        var.$font-base,
        var.$font-size-base,
        normal,
        300
      );
      padding: 1.6rem;
    }
  }

  h3 {
    grid-row: 1;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;

    @include var.breakpoint(750px) {
      grid-column: 1;
    }
  }

  .message {
    grid-row: 5;
    grid-column: 1 / 3;

    @include var.breakpoint(750px) {
      grid-column: 1;
      grid-row: unset;
    }
  }

  .send {
    grid-row: 6;
    grid-column: 1 / 3;
    width: fit-content;
    width: -moz-fit-content;
    justify-self: flex-end;

    @include var.breakpoint(750px) {
      grid-row: unset;
      grid-column: 1;
    }

    input {
      background: var.$tertiary-color;
      border: 2px solid transparent;
      border-radius: 3px;
      color: white;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        background: white;
        border: 2px solid var.$tertiary-color;
        color: var.$tertiary-color;
      }
    }
  }

  .thematique {
    justify-self: flex-start;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;

    @include var.breakpoint(750px) {
      width: 100%;
    }
  }
}

strong.title {
  color: var.$tertiary-color;
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.adresse__contact .container-narrow {
  display: flex;
  justify-content: center;
  align-items: center;

  @include var.breakpoint(906px) {
    flex-direction: column;
  }

  @include var.breakpoint(495px) {
    max-width: 100%;
  }

  address {
    background-color: var.$secondary-color;
    padding-block: 4.4rem;
    padding-inline: 8.8rem;
    margin-right: 4.4rem;

    @include var.breakpoint(906px) {
      margin-right: 0;
      margin-bottom: 4.4rem;
    }

    @include var.breakpoint(495px) {
      padding-inline: 0;
      width: 100%;
    }
  }

  ul {
    text-align: center;

    li:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }
}

.horaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid var.$tertiary-color;
  background-color: white;
  position: absolute;
  top: 42%;
  right: 6%;
  pointer-events: none;

  @include var.breakpoint(750px) {
    right: 3%;
  }

  @include var.breakpoint(661px) {
    right: 4%;
  }
  @include var.breakpoint(471px) {
    right: 4.5%;
  }
}
