@use "../abstracts" as var;

.hero-banner.home-hero {
  background-color: var.$quaternary-color;
  padding-top: 8.1rem;
  padding-bottom: 7.1rem;
  .container-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    h3 {
      color: black;
    }

    img {
      max-width: 58px;
      width: 100%;
      margin-block: 1.04rem;
    }
  }

  margin-bottom: 5.47rem;
}

.text-content {
  p.has-text-align-center:first-of-type {
    display: inline-flex;
    justify-content: center;
    strong {
      display: block;
      width: 61%;
      @include var.breakpoint(858px) {
        width: 100%;
      }
    }
  }

  ul {
    margin-top: 1.3rem;

    li:not(:last-of-type) {
      margin-bottom: 1.9rem;
    }
  }
}

.template-home {
  h2 {
    @include var.font-modifier(var.$font-base, var.$font-size-h2, normal, 600);
    text-align: left;
    align-self: flex-start !important;
    color: var.$secondary-color;
    margin-bottom: 2rem;
  }

  .posts {
    padding-bottom: 0;
    margin-bottom: 9rem;
  }

  .post .post__image {
      height: 321px !important;

      @include var.breakpoint(750px) {
        height: auto !important;
      }

      image {
        width: 100%;
        height: 100%;
      }
  }

  .post__content a {
    color: black;
    text-underline-offset: 1em;
    font-weight: 600;
    position: relative;
    margin-right: 3em;

    &::after {
      content: "";
      position: absolute;
      border-top: 5px solid transparent;
      border-left: 11px solid black;
      border-bottom: 5px solid transparent;
      top: 31%;
      right: -28%;
    }
  }
}
