@use "./../abstracts" as var;

.parallax-background {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    isset: 0;
    object-position: center center;
  }

  @include var.breakpoint(1046px) {
    height: 300px;
  }
  @include var.breakpoint(1046px) {
    height: 200px;
  }
  @include var.breakpoint(1046px) {
    height: 150px;
  }
}

.hero-banner-content {
  padding-block: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var.$secondary-color;

  @include var.breakpoint(1651px) {
    .container-narrow {
      max-width: 85%;
    }
  }

  @include var.breakpoint(1457px) {
    .container-narrow {
      max-width: 90%;
    }
  }
}

#separator {
  width: 40%;
  height: 1px;
  background-color: var.$tertiary-color;
  margin: 0 auto;
  margin-bottom: 4.75rem;
}

#page-navigation {
  margin-top: 2.55rem;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-item:not(:last-of-type)::after {
      content: "|";
      color: var.$tertiary-color;
      margin-inline: 1.45rem;
    }

    a {
      color: var.$primary-color;
      text-decoration: none;
    }

    @include var.breakpoint(1376px) {
      flex-direction: column;

      .menu-item {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:last-of-type)::after {
          content: "";
          width: 40px;
          border-bottom: 1px solid var.$tertiary-color;
          margin-inline: 0;
          margin-block: 1.45rem;
        }
      }
    }
  }
}

article {
  margin-block: 3.8rem;
}

.content-wrapper {
  margin-bottom: 8.1rem;
}

.content-wrapper ul {
  margin: 0 !important;
  list-style: none;
  li {
    text-indent: -2em;
    &::before {
      content: ".";
      font-size: 5rem;
      color: var.$tertiary-color;
      margin-right: 0.5em;
      line-height: 1;
    }
  }
}

.zone-ancre {
  background: var.$secondary-color;
  .container-narrow {
    padding-block: 6.4rem;
    position: relative;
  }

  .top-left-border,
  .bottom-right-border {
    position: absolute;
  }

  .top-left-border {
    border-top: 18px solid var.$tertiary-color;
    border-left: 18px solid var.$tertiary-color;
    top: -2em;
    left: -3em;
    width: 12rem;
    height: 11.7rem;
  }

  .bottom-right-border {
    border-bottom: 18px solid var.$tertiary-color;
    border-right: 18px solid var.$tertiary-color;
    bottom: -2em;
    right: -3em;
    width: 12rem;
    height: 11.7rem;
  }

  section {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 4.5rem;
    }
  }
}

.list-content {
  h2 {
    color: var.$tertiary-color;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
  }

  ul {
    margin: 0 !important;
    list-style: none;

    & + p {
      margin-top: 1em;
    }
    li {
      text-indent: -2em;
      margin-left: 3rem;
      &::before {
        content: ".";
        font-size: 5rem;
        color: var.$tertiary-color;
        margin-right: 0.2em;
        line-height: 1;
      }
    }
  }
}
