@use "./../abstracts" as var;

.hero-banner-content {
  padding-block: 4.5rem;
  text-align: center;
  background-color: var.$secondary-color;

  .container-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 5.8rem;
    margin-block: 0.4em;
  }

  @include var.breakpoint(1651px) {
    .container-narrow {
      max-width: 85%;
    }
  }

  @include var.breakpoint(1457px) {
    .container-narrow {
      max-width: 90%;
    }
  }
}

.single-content-container {
  margin-top: 8.8rem;
  margin-bottom: 11rem;

  .container-narrow {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    justify-content: center;

    @include var.breakpoint(1242px) {
      flex-direction: column;
      align-items: center;
    }

    &:not(:first-of-type) {
      margin-top: 2.3rem;
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;

      @include var.breakpoint(1242px) {
        flex-direction: column;
      }

      h2 {
        margin-left: 2.8rem;
        @include var.breakpoint(620px) {
          margin-left: 0;
        }
      }

      .single-text {
        left: unset;
        right: -8%;
      }
    }

    .single-img {
      width: 43%;

      @include var.breakpoint(1242px) {
        width: auto;
      }
    }

    img {
      height: auto;
      width: 100%;
      max-width: 62rem;
    }


    .single-content {
      position: relative;
      width: calc(100% - 43%);

      @include var.breakpoint(1626px) {
        width: 61%;
      }

      @include var.breakpoint(1400px) {
        width: 64%;
      }
      @include var.breakpoint(620px) {
        width: 100%;
        margin-top: 2.3rem;
      }
    }

    .single-text {
      position: absolute;
      background: white;
      bottom: -2%;
      left: -8%;
      padding: 2.5rem 6.5rem 4.8rem 3.2rem;

      @include var.breakpoint(1615px) {
        padding: 2.5rem 6.5rem 1.8rem 3.2rem;
      }
      @include var.breakpoint(1397px) {
        padding: 1.5rem 0 1.8rem 1.2rem;
      }
      @include var.breakpoint(1297px) {
        bottom: -6%;
      }
      @include var.breakpoint(1297px) {
        bottom: -8%;
        padding: 1.5rem 0 0.8rem 1.2rem;
      }
      @include var.breakpoint(1242px) {
        position: initial;
      }
      @include var.breakpoint(620px) {
        padding: 0;
        margin-top: 2.3rem;
      }
    }

    h2 {
      font-size: var.$font-size-h1;
      color: black;
      margin-left: 2.3rem;
      margin-top: 4.3em;

      @include var.breakpoint(1883px) {
        margin-top: 3.3rem;
      }

      @include var.breakpoint(1662px) {
        margin-top: 0;
      }

      @include var.breakpoint(1242px) {
        position: absolute;
        background: white;
        padding: 1.5rem 3.2rem;
        top: -26%;
        left: -4%;
      }

      @include var.breakpoint(620px) {
        position: initial;
        background: none;
        padding: 0;
        margin-left: 0;
        text-align: center;
      }
      
    }
  }

  .bottom-cabinet {
    align-self: center;
    margin-top: 11rem;

    @include var.breakpoint(1071px) {
      margin-bottom: 0;
    }
  }
}
